
header {
  font-size: 30px;
  text-align:center;
  font-family:' sans-serif' ;
  color: rgb(217, 211, 211);
  letter-spacing: 1em;
}


a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 1em;
}


nav ul {
  text-align: center;
  margin:auto;
  display: flex;
  justify-content: center;
  background-color: rgb(14, 82, 200);
  padding: 1px;
}


a:hover {
  color: rgb(15, 14, 14);
  background-color: rgb(216, 205, 205);
  
}




footer {
  background-color: rgb(14, 82, 200);
  padding: 1.5rem;
  text-align: center;
  /* position: fixed; */
  /* bottom: 0; */
  width: 100%;
}



body{
  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(184, 49, 49);
}



  

